    {{> head }}
    {{> navbar }}
<div class="row">

    <div class ="col-8">
        <h1>Icon</h1>
        <p>
            Stuff, stuff and more stuff
        </p>

    </div>

<div class="col-4">
    <img src="adds/img/icon.png" class = "img-thumbnail">
    </div>
    
</div>